<div class="cotainer">
    <div class="box">
        <div class="book-kind">
            <div #thisdom></div> 
            <!-- <div class="section-list">
                <a [routerLink]="['../booklist']" [queryParams]="{section: '3'}"><img src="assets/image/kokasiken.png"></a>
                <img src="assets/image/book1.png">
                <a [routerLink]="['../booklist']" [queryParams]="{section: '4'}"><img src="assets/image/gyoukai.png"></a>
                <div class="bar"></div>
                <div class="bar2-box">
                    <div class="bar2" style="margin-left: 30px">●</div>
                    <div class="bar2" style="margin-left: 520px">●</div>
                </div>
            </div>
            <div class="section-list">
               <img src="assets/image/book1.png">
                <a [routerLink]="['../booklist']" [queryParams]="{section: '5'}"><img src="assets/image/sonota.png"></a>
                <img src="assets/image/book1.png">
            <div class="bar"></div>
                <div class="bar2-box">
                    <div class="bar2" style="margin-left: 30px">●</div>
                    <div class="bar2" style="margin-left: 520px">●</div>
                </div>
            </div> -->
        </div>
    </div> 
</div>