<div class="container">
    <div class="regist">
        <div class="title"><div>変更</div></div>
        <div class="box">
            <img *ngIf="image != defaulteImgUrl" [ngStyle]="imgStyle" src="{{image}}">
            <img *ngIf="image == defaulteImgUrl" [ngStyle]="defaulteImgStyle" src="{{image}}">
            <form [formGroup]="formGroup" (submit) = "onClick()">
                <div class="error">{{errorMsg}}</div>
                <table>
                    <tr>
                        <th><span>●大カテゴリー</span></th>
                        <td>
                            <select formControlName="section" (change)="onSectionChange()" [(ngModel)]="selectSection">
                                <option disabled="disabled" [selected]="selectSection == selectSection">{{selectSection}}</option>
                                <option *ngFor="let sectionData of sectionList" value="{{sectionData.sectionId.section}}">{{sectionData.sectionId.section}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><span>●小カテゴリー</span></th>
                        <td>
                            <select formControlName="category" [(ngModel)]="selectCategory">
                                <option disabled="disabled" [selected]="selectCategory == selectCategory">{{selectCategory}}</option>
                                <option *ngFor="let list of categoryList" value="{{list.category}}">{{list.category}}</option>
                            </select>
                        </td>
                    </tr>
                   <tr><th><span>●ISBNコード</span></th><td><input type="text" formControlName="isbnCode" (blur)="onBlur()"></td></tr>

                   <tr>
                       <th><span>●タイトル</span></th>
                       <td ><input type="text" formControlName="title" [(ngModel)]="title"></td>
                    </tr>
                   <tr><th><span>●書籍の所在地</span></th><td><input type="text" formControlName="location" placeholder="オフィス or 社員名"></td></tr>
                </table>
                <button appLinkStyle brown="#6A4D32" white="white" (click)="onPageBack()">戻る</button>
                <input type="submit" value="登録" appLinkStyle brown="#6A4D32" white="white">
            </form>
        </div>
    </div>
</div>
